extends layouts/jq-ui

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';
  - var slider = sliderMain;
  - var logBtns = true
  - var page = 'index'

block title
  | Raidex
block main
  include includes/title

  section
    include includes/tracking-block
    include includes/calculator-form  

  section
    .geography 
      .container
        .title-wrap
          h2.title.title_h2.title_centered География доставки
          p.subtitle.subtitle_centered На сегодняшний день RAIDEX принимает посылки от байеров, интернет-магазинов и юрлиц и осуществляет их доставку в различные регионы России, <br>
            | а также в страны СНГ, такие как Казахстан, Узбекистан, Белоруссия и Армения.
        //- .geography__inner 
          .geography__item
            .radial-block.radial-block_accent
              .radial-block__title Отправка из Кыргызстана по СНГ
              .geography__country-list  
                
                each item in countryAvailable
                  .geography__country-item
                    .geography__country-img
                      img(src="images/dist/"+item.img , alt="")
                    p.geography__country-label=item.label


          .geography__item.geography__item_not-available
            .radial-block
              .geography__item-img
                img(src="images/dist/plane.svg", alt="") 
              .radial-block__title Скоро
              .geography__country-list  
                
                each item in countryNotAvailable
                  .geography__country-item
                    .geography__country-img
                      img(src="images/dist/"+item.img , alt="")
                    p.geography__country-label=item.label
        
        .geography__list 
          each item in countryAvailable
            .geography__list-item 
              .geography__item-flag 
                img(src="images/dist/"+item.img , alt="")
              .geography__item-name=item.label
        .geography__map(style="background-image: url(images/dist/map.svg)") 
  
  
  section.section.section_gray-bg
    .steps
      .container
        .title-wrap
          h2.title.title_h2.title_centered Отправить посылку — это просто!

        .steps__inner
          each item in steps
            .steps__col
              .steps__item
                .steps__img 
                  img(src="images/dist/"+item.img, alt="")
                .steps__desc 
                  h2.steps__title!=item.title
                  p!=item.desc

  section.section.section_accent-gradient
    .callback 
      .container
          .callback__form 
            .callback__form-col
              +title('Поможем решить <br> все вопросы','title_h2', 'Если у вас есть вопросы по нашим услугам <br> доставки или вы не уверены, какой вид доставки <br> выбрать, оставьте заявку, и мы свяжемся с вами')
            .callback__form-col
              form(action="")
                .input
                  input(type="text" placeholder="Имя" name="name")
                
                
                .phone-wrap
                  div
                    .select.select_img.select_phone-cod
                      .select__selected.select-js
                        input(type="hidden").select-input
                        .select__selected-label +996
                        .select__arrow
                          .icon.icon_stroke 
                            svg
                              use(xlink:href='sprite.svg#angle-down')

                      .select__dropdown
                        .vertical-scroll   
                          each item in countryCode      
                            .select__option(data-text=item.label data-id=item.id)
                              .select__option-item
                                .select__option-img
                                  img(src=`images/dist/${item.img}`, alt=item.label)
                              
                              .select__option-item
                                
                                .select__option-label=item.label

                  .input
                    input(type="number" placeholder="Телефон" id="phone")

                button.btn.btn_accent Отправить  

                p Нажимая на кнопку, я соглашаюсь на 
                  a(href="#") обработку персональных данных <br>
                  | и 
                  a(href="#")  с правилами пользования Платформой   

  section.section.section_gray-bg
    .for-stores
      .container 
        +title('Интернет-магазинам','title_h2 title_centered', 'Повысьте конкурентоспособность вашего бренда с нашей интегрированной системой доставки, <br> подстраиваемой под уникальные потребности вашего интернет-магазина','subtitle_centered')
        
        .for-stores__inner 
          
          each item in forStores
            .for-stores__col 
              .for-stores__item
                .for-stores__img
                  img(src="images/dist/"+item.img, alt="")
                .for-stores__desc
                  .for-stores__title!=item.title 
                  p!=item.desc
        
        .btn-wrap.btn-wrap_centered
          a(href="#").btn.btn_dark Заключить договор 
            



  //- section
    .advantages 
      .container  
        +title('Преимущества международного шопинга','title_h2 title_centered')
        
        .advantages__inner    
          each item in advantages
            .advantages__col    
              .advantages__item
                .advantages__img-wrap
                  img.advantages__img(src="images/dist/"+item.img, alt="")
                .advantages__title
                  h2=item.title
                .advantages__desc
                  p=item.desc
  
  //- section.section.section_calculator#calculator
  //-   include includes/calc-delivery
  
  //- section#warehouses
    .warehouses
      .container 
        .warehouses__inner 
          .warehouses__col 
            .warehouses__desc 
              +title('Наши склады для шопинга','title_h2')
              .warehouses__desc-item 
                .warehouses__legend.warehouses__legend_in-stock
                  span 
                  | Склады
              
                .warehouses__country-flag-wrap
                  
                  each item in countryFlagInStok
                    .warehouses__country-flag(data-country=item.label)
                      .warehouses__country-img 
                        img(src="images/dist/"+item.img, alt="")
                      .warehouses__country-name=item.label

              .warehouses__desc-item 
                .warehouses__legend.warehouses__legend_in-soon
                  span 
                  | Скоро
              
                .warehouses__country-flag-wrap
                  
                  each item in countryFlagSoon
                    .warehouses__country-flag(data-country=item.label) 
                      .warehouses__country-img 
                        img(src="images/dist/"+item.img, alt="")
                      .warehouses__country-name=item.label


          .warehouses__col 
            include includes/map

  //- section#redemption
    .redemption-goods
      .container
        +title('Выкуп товара', 'title_h2') 
        .redemption-goods__inner
          .simple-tabs.line-js
            ul 
              li.active.trigger-js(data-name="individuals") Физические лица

              li.trigger-js(data-name="legal-entities")  Юридические лица
            .line-runner
          .redemption-goods__item.called-js.show(data-name="individuals")
            .redemption-goods__item-col
              div
                p 
                  | Магазин не принимает к оплате вашу банковскую карту? <br>
                  | Мы приобретём товар для вас. Мы осуществляем доставку <br>
                  | с eBay, Amazon и др. и оказываем услуги персонального <br> байера.
                
                p 
                  span Самая маленькая комиссия 
                  | на рынке
                
                p  
                  span Мы официальная компания 
                  | и даем гарантии на услуги

              a(href="https://alay.express/register" target="_blank").btn.btn_accent.btn_small Зарегистрироваться 

            .redemption-goods__item-col
              .redemption-goods__img-wrap 
                img(src="images/dist/individuals.webp", alt="").redemption-goods__img

              a(href="https://alay.express/register" target="_blank").btn.btn_accent.btn_small Зарегистрироваться 
          
          .redemption-goods__item.called-js(data-name="legal-entities")
            .redemption-goods__item-col
              div
                ul 
                  li Выкуп любых товаров в Европе, оборудования, запасных частей и комплектующих с доставкой в Кыргызстан
                  li Поиск техники и оборудования в Европе
                  li Товары без НДС
                  li Оказываем полный комплекс услуг по доставке груза из Европы с таможенной очисткой
                  li Все операции проводятся прозрачно и по договору
                  li Конфиденциальность гарантируем!

              a(href="https://alay.express/register").btn.btn_accent.btn_small Зарегистрироваться 

            .redemption-goods__item-col
              .redemption-goods__img-wrap 
                img(src="images/dist/legal-entities.webp", alt="").redemption-goods__img
  
  //- section 
    include includes/shopping
  
  //- section#stores 
    .popular 
      .container
        .title-wrap
          .title.title_h2.title_centered Популярные магазины
          p.subtitle.subtitle_centered Покупай в любимых интернет-магазинах на скидках, а Alay Express доставит в Кыргызстан

        .popular__grid
          each item,index in stores
            div(class="popular__grid-item grid-elem"+(index + 1))
              picture 
                source(media="(max-width: 767px)", srcset=`images/dist/${item.img}-mini.svg`)
                img(src=`images/dist/${item.img}.svg`, alt="")

        .btn-wrap.btn-wrap_centered
          a.btn.btn_accent(href="https://alay.express/register" target="_blank") Все магазины     

  //- section#reviews
    include includes/reviews